*{
    margin:0px
}
.topnav{
    background-color: rgb(243, 196, 135);
    padding-left: 80px;
}
.nav{
    
    background-color:rgb(26, 26, 26);
    display:flex;
    color: white;
    padding:10px 90px;
    justify-content: space-between;
    align-items: center;
    }
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 200px;
}
.logo{
    margin-left: 200px;

}
.left div{
    margin: 0 20px;
    
}
.right{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right:200px;
}
.right div{
    margin:0 15px;
}
.bg1{
    background: url(image/9.jpg) no-repeat;background-size: cover;
    padding: 200px;
    color:white;
    font-size: 40px;
    padding-left: 200px;
    padding-top: 100px;
    position: relative;
    
    }
    .bgbutton button{
        padding: 14px 43px;
        color:gray;
        font-size: 14px;
        font-weight: 600px;
        border:none;

    }
    .cirlce{
        display:flex;
        justify-content: space-between;
        
    }
    .ci{
        width:180px;
        height:180px;
        border-radius: 360px; margin: 7px;   

}
.circleimg{
    display: flex;
   /* justify-content: space-between; */
   margin-top: 50px;
   margin-left: 250px;

}

